nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0 16px;
    font-family: 'Poppins', sans-serif;
    
}

ul, li {
    display: inline-block;
}
a {
    text-decoration: none;
    margin-left: 16px;
}
.image__logo {
    width: 150px;
    height: 150px;
    margin-top: 40px;
}

@media (max-width: 600px){
    .lista__menu {
        display: none;
    }
}