header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 56px 56px auto;
    position: relative;
}
nav {
    grid-column-start: 1;
    grid-column: 2/12;
}
.mensagem__principal {
    grid-column: 2/6;
    grid-row-start: 3;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    gap:24px;
}
.imagem__principal {
    grid-column: 8/12;
    grid-row-start: 3;
}

.titulo_principal{
    font-family: 'Poppins',sans-serif;
    font-size: 56px;
    font-weight: 900;
    color: #b96434;
    text-align: center;
    margin: 0;
}

.div__arredondada {
    position: absolute;
    top:35%;
    right: 0;
    width: 450px;
    height: 450px;
    background-color: #7a316f;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: -1;
    margin: 12px;

}

