.card{
    width: 300px;
    height: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    border-radius: 8px;
}

.card_verde_menta{
    background-color: #e0fcc2;
}

.card_rosa_pastel{
    background-color: #fce1ee;
}

.card_pessego{
    background-color: #fce5cd;
}
